<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<% if (!user) { %>
<div align ='middle'>
	<div id='world'></div>
	<script src='./build/app.bundle.js'></script>
	<h2>Welcome! Please log in.</h2>
	<a href="/auth/amazon">    <img border="0" alt="Login with Amazon"
		src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
		width="156" height="32" /></a></div> 
<% } else { %>
	<h2>Hello, <%= user.displayName %>.</h2>


	<!-- <a href ="/create-meal-plan">Generate a New Meal Plan</a> -->

	<a href="/view-meal-plan">View Meal Plan</a>
	
	<a href="/edit-user-info">Account Settings</a>

	<a href ="/logout">Log Out</a>
	<br>

	<p>Setup for a meal plan</p>
	<form action="/create-meal-plan" method="get">
	<button type="submit" >Generate Meal Plan</button>
	</form>

<% } %>


<!-- branch -->


