<html>
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>
    <!-- gender: '',
    height: '',
    weight: '',
    age: '',
    activityLevel: '',
    allergies: '' -->
<form align = 'middle' action="/submitsurvey" method="POST">
    <h1>New User Survey</h1>
    Gender:
    <select 
    name = "gender"
    id = "gender"
    >
    
        <option value="" disabled selected> -- select an option -- </option>
        <option value="male">male</option>
        <option value="female">female</option>
        <option value="other">other</option>

    </select>
    <br>
    <br>
    Height:
    <input 
                name = "height"
                id = "height"
                placeholder="#'# (feet'inches)"
                value=""
				/>
    <br>
    <br>
    Weight:
    <input 
                name = "weight"
                id = "weight"
                placeholder='### (in lbs)' 
                value="" 
				/>
    <br>
    <br>
    Age:
    <input 
    name = "age"
    id = "age"
    placeholder='In years'
    />
    <br>
    <br>
    Activity Level:
    <select 
                name = "activityLevel"
                id = "activityLevel"
                value="" 
				>
					<option value="" disabled selected> -- select an option -- </option>
					<option value="sedentary">sedentary</option>
					<option value="moderate">moderate</option>
					<option value="high">high</option>
				</select>
    <br>
    <br>
    Allergies:
    <input type="text" id="allergies" name="allergies" placeholder="List allergies" value="">
    <br><br>

    Ethnicity:
    <input type="text" id="ethnicity" name="ethnicity" placeholder="ignore for now" value="">
    <br><br>
    <button>Submit</button>

</form>
</html>