<html>
    <!-- gender: '',
    height: '',
    weight: '',
    age: '',
    activityLevel: '',
    allergies: '' -->
<form>
    Gender:
    <input type="text" name="gender" value="">
    <br>
    <br>
    Height:
    <input type="text" name="height" value="">
    <br>
    <br>
    Weight:
    <input type="text" name="weight" value="">
    <br>
    <br>
    Age:
    <input type="text" name="age" value="">
    <br>
    <br>
    Activity Level:
    <input type="text" name="active" value="">
    <br>
    <br>
    Allergies:
    <input type="text" name="allergies" value="">
    <br><br>
    <button>Submit</button>

</form>
</html>