<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>
	<body>
		<h2>Hello, user.</h2>

		
		<a href ="/create-meal-plan">Generate a New Meal Plan</a>
		<a href ="/logout">Log Out</a>
		<a href ="/test">Testpage</a>
	</body>

</html>
